*
{
    box-sizing:border-box;
    background-color:#2c4860
}
.tems_container
{
    height:60vh;
    width:100%;
   
    display:flex;
    justify-content:space-around;
    border:3px solid green;
    align-items:center;
    flex-wrap:wrap;
}
.watch
{
    height:90%;
    width:30%;
    border:2px solid black;
    border-radius:50px;
    display:flex;
    justify-content:space-around;
    align-items:center;
   background-color:#95bcde
    
    
}



#second
{
    background-color:aqua;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
   
    border-radius:50%;
  position: relative; 
    color:white;
    font-weight:bold;
    
}
#minut
{
    background-color:aqua;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
   
    border-radius:50%;
     

  
  position: relative; 
    
}
#minut::before {
    content: "";
    position: absolute;
   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid #f4f0f0; /* The color of the rotating border */
    border-top: 3px solid #cac063; /* Make it look like a progress border */
     border-width:3px;
    
    animation: progress 60s linear infinite;
  }
#second::before {
    content: "";
    position: absolute;
   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid #f4f0f0; /* The color of the rotating border */
    border-top: 3px solid #272323; /* Make it look like a progress border */
     border-width:3px;
    
    animation: progress 1s linear infinite;
  }




#hours
{
    background-color:aqua;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #dbd6d6;
    border-radius:50%;

    position:relative;
    color:white;
    font-weight:bold;
    
    
}
#hours::before {
    content: "";
    position: absolute;
   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid #f4f0f0; /* The color of the rotating border */
    border-top: 3px solid #de1a1a; /* Make it look like a progress border */
     border-width:3px;
    
    animation: progress 3600s linear infinite;
  }

#minut
{
    background-color:aqua;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
   
    border-radius:50%;
     

  
  position: relative; 
    color:white;
    font-weight:bold;
    
    
}
#ampm{
    height:200px;
    width:200px;
     background-color:#b8c5d1;
   
    border-radius:50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:relative;
    
}



#ampm::after {
    content: "watch";
    position:absolute;
    top:0;
    left:0;
    bottom:px;
    width:100%;
    height:100%;
    border-radius:50%;
    color:#f1eaea;
    border-top: 10px solid #d25f5f; 
    border-width:3px;
    border-style:dashed;
    
     animation: progress 10s linear infinite;
    
    /* Make it look like a progress border */
}


@keyframes progress {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.bt1{
    box-sizing:border-box;
    position:relative;
    top:30px;
    left:40%;
    padding:13px;
    width:100px;
    border-radius:10px;
    border:none;
   
    margin:5px;
    background-color:#8881b5;
    cursor: pointer;
}
.bt1::before
{
    content:"";
    position:absolute;
    
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    height:93%;
    width:97%;
    color:red;
      
    border-radius:10px;

    animation-name:progress1;
    animation-duration:5s;
    border:0px dotted #605b5b;
    border-width:3px;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    
}

@keyframes progress1 {

    0% {
     border-top:4px solid #5a918e; 
    }
    45% {
       border-right:4px solid red;   
    }
    70%{
        border-bottom:4px solid #947920;
    }
    100%{
         border-left:4px solid #9d783e;
    }
}
#stopewatch
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
}

#display_timer
{
    height:20%;
    width:70%;
    background-color:#bc8443;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius:5px;
    border:2px solid sienna
    
}
.start-buttun
{
    height:20%;
    width:70%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border:3px solid gray;
}
.start-buttun>button
{
    padding:13px;
    width:100px;
    color:white;
    font-weight:bold;
    background-color:#9f4343;
    border:none;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0px 0px 2px 2px
}
.same12
{
   background-color:#bc8443;
    color:white;
    font-weight:bold;
    
    
}
option
{

height: 100px; /* Fixed height */
overflow-y: scroll; /* Vertical scrolling */
padding: 5px; /* Padding for inner spacing */
}

#alarm
{
display:block;
    
}
#display2{
    position:relative;
    top:10%;
    left:10%;
    display:flex;
    justify-content:space-around;
    margin:20px;
    height:120px;
    width:70%;
    color:wheat;
    font-weight:bold;
    font-size:30px;
    align-items:center;
    border-radius:10px;
    background-color:#524334;
    border:2px solid aliceblue;
    
}
#button_container
{
    position:relative;
    top:20%;;
    display:flex;
    justify-content:space-around;
    margin:20px;
    height:100px;
    color:wheat;
    font-weight:bold;
    font-size:30px;
    align-items:center;
    border-radius:10px;
    background-color:#dac8b4;
    border:2px solid aliceblue;
}
#display2 div:nth-child(1) {
    background-color: #dac8b4;
}
#display2 div:nth-child(3),
#display2 div:nth-child(3), 
#display2 div:nth-child(1)
{
     
}
   

#display2 div:nth-child(1)>input,#display2 div:nth-child(2)>input,#display2 div:nth-child(3)>input{


    height:55px;
    width:55px;
    background-color:#2fa767;
    border-radius:10px;
    border:none;
    color:white;
    font-size:20px;
    font-weight:bold;
    box-shadow:0px 0px 7px 6px #cbe9e9;
    
    
}
#bt3{
    position:relative;
    top:20%;
    left:15%;
}
























































































































































































































































































































































































































































































































































































































































































